<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$setting['title']}</title>
<link href="../addons/teabox_penny/template/img/main.css" rel="stylesheet"/>
<meta name="viewport" id="viewport" content="width=device-width,user-scalable=no">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script type="text/javascript" src="../addons/enjoy_back/public/js/jquery.min.js"></script>
<script type="text/javascript" src="../addons/enjoy_back/public/js/layer/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body id="bg" class="list2_banner">
<section>
<div class="btn5"><a href="{php echo $this->createMobileurl('greey')}" class="btn5_sub"></a></div>
<div class="btn6"><a href="{php echo $this->createMobileurl('back1')}" class="btn6_sub"></a></div>
<div class="btn8"><a href="{php echo $this->createMobileurl('back2')}" class="btn8_sub"></a></div>

	
</section>
<script>
layer.msg('分享朋友圈，把幸福让给别人吧');
document.getElementById("bg").style.height = document.documentElement.clientHeight+"px";
</script>
{php require_once IA_ROOT."/addons/teabox_penny/jssdk.class.php";$weixin = new jssdk($jie='0',$url='');$wx = $weixin->get_sign();}
<script>
var share_desc="{$setting['share_desc']}现{$num}人排队";
var title="曾有段感人的爱情，{$user['nickname']}没有珍惜,现在让给你,现{$num}人排队——小微";
wx.config({
    debug: false, 
    appId: "{$wx['appId']}",
    timestamp: "{$wx['timestamp']}",
    nonceStr: "{$wx['nonceStr']}",
    signature: "{$wx['signature']}",
    jsApiList: ['showOptionMenu','onMenuShareTimeline', 'onMenuShareAppMessage']
});

wx.ready(function () {
    wx.showOptionMenu();
    wx.onMenuShareTimeline({
        title: title,
        link:"{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=pay&m=teabox_penny&uidd={$uid}",
        imgUrl: "{$user['headimgurl']}",
		success: function () { 
		   $.ajax({
             type: "GET",
             url: "index.php?i={$_W['uniacid']}&c=entry&do=ajax&dopenid=$dopenid&m=teabox_penny",
             dataType: "json",
             success: function(data){
				 if(data.error=='0'){
					location.href = "index.php?i={$_W['uniacid']}&c=entry&do=share&dopenid=$dopenid&m=teabox_penny";
				 }else{
					return false;
				 }
                       //
             }
         });
		}
    });
    wx.onMenuShareAppMessage({
        title: title,
        desc: share_desc,
        link:"{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=pay&m=teabox_penny&uidd={$uid}",
        imgUrl: "{$user['headimgurl']}",
		success: function () { 
		   $.ajax({
             type: "GET",
             url: "index.php?i={$_W['uniacid']}&c=entry&do=ajax&dopenid=$dopenid&m=teabox_penny",
             dataType: "json",
             success: function(data){
				 if(data.error=='0'){
					location.href = "index.php?i={$_W['uniacid']}&c=entry&do=share&dopenid=$dopenid&m=teabox_penny";
				 }else{
					return false;
				 }
                       //
             }
         });
		}
    });

    
});

wxshare();

function wxshare(){
    share_desc=share_desc.replace("{1}",{$setting['pay_fee']});
    share_desc=share_desc.replace("{2}","{$user['nickname']}");
    share_desc=share_desc.replace("{3}",{$total});
    share_desc=share_desc.replace("{4}",{$payinfo['sort']});
}
</script>

</body>
</html>


